html,
body {
	height: 100%;
	margin: 0;
    position: relative;
    background-color: blue;
}

#main {
	width: 60%;
	height: 100%;
	margin: 0 auto;
}
.content {
	min-height: 90%;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
table td {
	border: 3px solid black;
	vertical-align: top;
}
table th {
	border: 3px solid black;
}

tr td.day {
	transform: rotate(-90deg);
	width: 10px;
	vertical-align: middle;
}

#footer {
	height: 50px;
	  text-align: center;
	  padding-top: 10px;
}